@font-face {
	font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-style: normal;

}

body{
font-family: 'Raleway';
background-image:url(../img/fondo1.jpg);
}

.container{
	margin-top:8%;
	text-align:center;
	background:rgba(255,255,255,0.9);
	border-radius: 12px;
}

@media (min-width: 1200px) {
  .container {
    width: 30%;
	text-align:center;
  }
}

.btn-custom1b {
  width:70%;
  margin-left:15%;
  color: #fff;
  background-color: rgb(0,161,173);
  border-color: rgb(0,171,183);
}
.btn-custom1b:hover {
  color: #fff;
  background-color: rgb(0,181,193);
  border-color: rgb(0,191,203);
}
.btn-custom1b:active:hover,
.btn-custom1b.active:hover,
.open > .dropdown-toggle.btn-custom1b:hover,
.btn-custom1b:active:focus,
.btn-custom1b.active:focus,
.open > .dropdown-toggle.btn-custom1b:focus,
.btn-custom1b:active.focus,
.btn-custom1b.active.focus,
.open > .dropdown-toggle.btn-custom1b.focus {
  color: #fff;
  background-color: rgb(0,100,130);
  border-color: rgb(0,110,140);
}

h3 {
	color: rgb(204,46,68);
	font-weight:bold;
}




