@font-face {
	font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-style: normal;

}

body{
font-family: 'Raleway';
background-image:url(../img/fondo1.jpg);
}

.container{
	margin-top:8%;
	text-align:right;
	background:rgba(255,255,255,0.9);
	border-radius: 12px;
}

@media (min-width: 1200px) {
  .container {
    width: 30%;
	text-align:right;
  }
}

.form-control {
	height: 45px;
	border-bottom:1px solid #ccc;
  	border-right:1px solid #ccc;
  	border-top:1px solid #ccc;
  	border-left:1px solid white;
}

.input-group-addon {
	background-color:white;
  	border-bottom:1px solid #ccc;
  	border-right:1px solid white;
  	border-top:1px solid #ccc;
  	border-left:1px solid #ccc;
}

.btn-warning {
  color: #fff;
  background-color: rgb(240,151,0);
  border-color: #eea236;
}
.btn-warning:hover {
  color: #fff;
  background-color: rgb(250,171,0);
  border-color: #d58512;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  color: #fff;
  background-color: rgb(200,121,0);
  border-color: #985f0d;
}








