@font-face {
	font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-style: normal;

}

body{
font-family: 'Raleway';
background-image:url(../img/fondo1.jpg);
}

.container{
	margin-top:8%;
	text-align:left;
	background:rgba(255,255,255,0.9);
	border-radius: 12px;
}

@media (min-width: 1200px) {
  .container {
    width: 30%;
	text-align:left;
  }
}

.form-control {
	height: 45px;
	border-bottom:1px solid #ccc;
  	border-right:1px solid #ccc;
  	border-top:1px solid #ccc;
  	border-left:1px solid white;
}

.input-group-addon {
	background-color:white;
  	border-bottom:1px solid #ccc;
  	border-right:1px solid white;
  	border-top:1px solid #ccc;
  	border-left:1px solid #ccc;
}

.btn-custom1a {
  color: #fff;
  background-color: rgb(0,161,173);
  border-color: rgb(0,171,183);
}
.btn-custom1a:hover {
  color: #fff;
  background-color: rgb(0,181,193);
  border-color: rgb(0,191,203);
}
.btn-custom1a:active:hover,
.btn-custom1a.active:hover,
.open > .dropdown-toggle.btn-custom1a:hover,
.btn-custom1a:active:focus,
.btn-custom1a.active:focus,
.open > .dropdown-toggle.btn-custom1a:focus,
.btn-custom1a:active.focus,
.btn-custom1a.active.focus,
.open > .dropdown-toggle.btn-custom1a.focus {
  color: #fff;
  background-color: rgb(0,100,130);
  border-color: rgb(0,110,140);
}

h4 {
	text-align:center;
	color: rgb(204,46,68);
	font-weight:bold;
}





