@font-face {
	font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-style: normal;

}

body{
font-family: 'Raleway';
}

/*------panel-heading------*/
.navbar-default {
	background-color:white;
	border: white;
	color:red;
}
.icon-bar {
   background-color:white !important;
}
.navbar-toggle{
   background-color:black !important;
}
.navbar-header{
   background-color:rgb(51,51,51) !important;
}
@media (max-width: 760px) {
 .navbar-nav>li>a {
	  background-color:rgb(51,51,51) !important;
	  color:white !important;
  }
  .navbar-nav>li>a:hover{
	  background-color:rgb(204,204,204) !important;
	  color:rgb(51,51,51) !important;
	  font-weight:bolder;
  }
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
.col-md-3{
	border:red dashed 0px;
}
.col-md-3 img{
	max-width:100%;
}
.col-md-5{
	border:red dashed 0px;
	margin-top:6%;
}
.btn-custom2 {
  color: #fff;
  background-color: rgb(0,161,173);
  border-color: rgb(0,171,183);
}
.btn-custom2:hover {
  color: #fff;
  background-color: rgb(0,181,193);
  border-color: rgb(0,191,203);
}
.btn-custom2:active:hover,
.btn-custom2.active:hover,
.open > .dropdown-toggle.btn-custom2:hover,
.btn-custom2:active:focus,
.btn-custom2.active:focus,
.open > .dropdown-toggle.btn-custom2:focus,
.btn-custom2:active.focus,
.btn-custom2.active.focus,
.open > .dropdown-toggle.btn-custom2.focus {
  color: #fff;
  background-color: rgb(0,100,130);
  border-color: rgb(0,110,140);
}





/*------panel-body------*/
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.btn-custom3 {
  color: #fff;
  background-color: rgb(108,186,210);
  border-color: rgb(118,196,220);
  width:70%;
}
.btn-custom3:hover {
  color: #fff;
  background-color: rgb(148,216,230);
  border-color: rgb(98,176,200);
}
.btn-custom3:active:hover,
.btn-custom3.active:hover,
.open > .dropdown-toggle.btn-custom3:hover,
.btn-custom3:active:focus,
.btn-custom3.active:focus,
.open > .dropdown-toggle.btn-custom3:focus,
.btn-custom3:active.focus,
.btn-custom3.active.focus,
.open > .dropdown-toggle.btn-custom3.focus {
  color: #fff;
  background-color: rgb(88,146,180);
  border-color: rgb(66,126,150);
}



/*------panel-footer------*/
.panel-footer {
  padding: 0px;
  background-color: rgb(245,245,245);
  border-top-color:white;
}
.box1{
	position:relative;
	float:left;
	width:30%;
	text-align:center;
}
.box1 img{
	min-width:10%;
	max-width:80px;
}

.box2{
	position:relative;
	float:left;
	width:40%;
	text-align:center;
}

