@font-face {
      font-family: 'fontello';
      src: url('../font/fontello.eot?31523618');
      src: url('../font/fontello.eot?31523618#iefix') format('embedded-opentype'),
           url('../font/fontello.woff?31523618') format('woff'),
           url('../font/fontello.ttf?31523618') format('truetype'),
           url('../font/fontello.svg?31523618#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    } 
    .demo-icon
    {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
     
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
	  color:#ccc;
      /* opacity: .8; */
     
      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;
     
      /* fix buttons height, for twitter bootstrap */
      line-height: 1em;
     
      /* Animation center compensation - margins should be symmetric */
      /* remove if not needed */
      margin-left: .2em;
     
      /* You can be more comfortable with increased icons size
      font-size: 18px;*/
     
      /* Font smoothing. That was taken from TWBS */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
     
      /* Uncomment for 3D effect */
      /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }